# Required in all modes
CALENDAR_ID=<CALENDAR_ID>
CALENDAR_TIMEZONE=Europe/Paris

# Service account with domain-wide delegation
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=<SERVICE_ACCOUNT_CLIENT_EMAIL>
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DELEGATED_USER_EMAIL=<USER_TO_IMPERSONATE>
